@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600");
html, body, * {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a:link,
a:visited,
a:focus,
a:hover {
  text-decoration: none; }

.brand {
  font-weight: 700;
  font-size: 1.5rem;
  color: #000; }

.hamburger {
  display: inline-block; }
  .hamburger-line {
    display: block;
    background-color: #000;
    height: 2px;
    width: 15px;
    margin-bottom: 2px; }
  .hamburger-line:last-child {
    margin-bottom: 0; }

.site-header {
  background-color: #fff;
  padding: 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }
  .site-header-section {
    width: 33.3333%; }
  .site-header-section:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: stretch;
    align-content: stretch; }
    .site-header-section:last-child > div {
      margin-left: 20px; }
      .site-header-section:last-child > div:first-child {
        margin-left: 0; }
  .site-header .brand {
    display: block;
    text-align: center; }

.category-nav-container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #FAFAFA; }
  .category-nav-container .nav-item {
    width: 16.6666666667%; }
    .category-nav-container .nav-item a {
      display: block;
      text-align: center;
      text-transform: uppercase; }
    .category-nav-container .nav-item-title {
      font-weight: 700;
      color: #ACACAC;
      font-size: .9rem;
      letter-spacing: 2px; }

.contact-number {
  font-weight: 700;
  font-size: 0.8rem;
  color: #000; }

.search-icon .icon {
  width: 25px;
  display: inline-block;
  height: 28px;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center; }

.search-input {
  display: none; }

.nav {
  list-style: none; }
  .nav-item {
    display: inline-block; }
    .nav-item a {
      padding: 8px 15px; }
    .nav-item:first-child a {
      padding-left: 0; }
    .nav-item:last-child a {
      padding-right: 0; }
