
//
// VARIABLES ------------------------------------------------------------------
//


// Imports

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600');


// Colors

$c-white: #fff;
$c-light-gray: #FAFAFA;
$c-gray: #ACACAC;
$c-black: #000;


// Fonts

$f-primary: 'Nunito', sans-serif;
$f-size: 16px;
$f-light: 300;
$f-regular: 400;
$f-bold: 700;